extends layout

block content
    .add-message-container
            h1 Add New Message
            .container-add
                form( method='post' action='/new')
                    .form-container
                        input(
                            type='text'
                            name='user'
                            placeholder="Username"
                        )
                        textarea(
                            placeholder="Enter a message"
                            name='message'
                           rows="5"
                        )
                    button(type="submit") Submit
                form(method="get" action="/")
                    button Go Back
