extends layout

block content
  h1= title
  p Add New Message
    form( method='post' action='/new')
        label(name="user") Username:
            input(
            type='text'
            name='user'
            )
        label(name="message") Message:
            input(
            type='text'
            name='message'
            )
        button(type="submit") Submit
    form(method="get" action="/")
        button Go Back
