extends layout

block content
  .container
    h1= title
    p Welcome to #{title}

    .messages-container
      each val in messages
          .message  
            .message-heading
              h2.user #{val.user} 
                span @#{val.user}
              div.date #{val.added.toLocaleTimeString()} #{val.added.toLocaleDateString()}
            div.value #{val.text}
            
          
    form(method="get" action="/new")
      button.add-button Tweet
